<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faixa Etária</title>
</head>
<body>
    <form method="POST" action="/">
        <label form="idade">Entre com sua idade:</label>
        <input type="number" name="idade" id="idade" required>
        <button type="submit">Salvar</button>
    </form>

    <h1><%= mensagem %></h1>
    
</body>
</html>